:root {
    --header-height: 70px;
    --header-padding: 10px 0 10px 0;
}

.Header {
    width: 100%;
    height: var(--header-height);
    padding: var(--header-padding);
    color: white;
    text-align: center;
    margin-bottom: 25px;
    background-color: cadetblue;
}

.Controls {
    position: absolute;
    top: 0;
    height: var(--header-height);
    padding: var(--header-padding);
    display: flex;
    align-items: center;
}

.LeftControls {
    left: 0;
}

.RightControls {
    right: 0;
}

.Cheat, .Size, .Mines, Layout {
    padding: 0 20px 0 20px;
}

.PlayAgain {
    padding: 5px;
    margin-left: 20px;
}

